@{
    ViewData["Logo"] = "~/img/bird.png";
    ViewData["Icon"] = "~/img/cascade.ico";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="Robots" content="noindex" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="@ViewBag.Icon" /> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-mobile-min/jquery.mobile.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/styles/all/all.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Styles/Mobile/mobile.css" media="only screen and (max-width: 481px)" />
    <link rel="stylesheet" type="text/css" href="~/Styles/Desktop/desktop.css" media="only screen and (min-width: 481px)" />

    @RenderSection("Scripts", false)
</head>
<body>
    <div data-role="page">
        <div id = "header" data-role="header" data-id="persistent" data-position="fixed">
            <div id="headnav" class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-toggle navbar-text" data-toggle="collapse">
                        <h3 class="title">@ViewBag.Title</h3>
                        <h5 class="subtitle">@ViewBag.SubTitle</h5>
                    </div>
                    <div class="navbar-left" rel="home" href="#" title="CascadeHR Mobile">
                        <img style="max-width:100px; max-height: 100px; margin-top: 5px"
                             src="@ViewBag.Logo">
                    </div>
                    <div class="navbar-collapse collapse navbar-text">
                        <h3 class="title">@ViewBag.Title</h3>
                        <h5 class="subtitle">@ViewBag.SubTitle</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- content -->
        <div data-role="content">
            @RenderBody()
        </div>

        <footer data-id="persistent" data-position="fixed">
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="container-fluid">
                    <div class="navbar-collapse collapse" id="footer-body">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><img src="~/img/icons/myrecord.png" />My Record</a></li>
                            <li><a href="#"><img src="~/img/icons/myteam.png" />Team Headcount</a></li>
                            <li><a href="#"><img src="~/img/icons/holidays.png" />My Holidays</a></li>
                            <li><a href="#"><img src="~/img/icons/payslips.png" />Payslip</a></li>
                            <li><a href="#"><img src="~/img/icons/tasks.png" />Tasks</a></li>
                            <li><a href="#"><img src="~/img/icons/authorise.png" />Requests</a></li>
                        </ul>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-body">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <ul class="footer-bar-btns visible-xs">
                            <li><a href="#" class="btn" title="History"><i class="fa fa-2x fa-clock-o blue-text"></i></a></li>
                            <li><a href="#" class="btn" title="Favourites"><i class="fa fa-2x fa-star yellow-text"></i></a></li>
                            <li><a href="#" class="btn" title="Subscriptions"><i class="fa fa-2x fa-rss-square orange-text"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- overriding customer styles -->
    <link href="~/styles/customstyles.css" rel="stylesheet" />
</body>
</html>
