<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="titleContainer">
        <div id="mainTitle">@ViewBag.Title</div>
        <div id="subTitle">@ViewBag.SubTitle</div>
    </div>
    <div id="bodycontainer" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cascade HR Mobile</p>
        </footer>
    </div>
</body>
</html>
